<!DOCTYPE html>
<html lang="en" class="dark">
{% include 'components/head.html' %}
<body class="bg-dark text-gray-200" x-cloak :class="darkMode ? 'bg-dark text-gray-200' : 'bg-white text-gray-800'" x-data="{ darkMode: true }">
    {% include 'components/nav.html' %}
    {% with page_type='Models' %}
        {% include 'components/settings-modal.html' %}
    {% endwith %}

    <div class="container mx-auto px-4 py-8">
        <div class="max-w-7xl mx-auto">
            {% include 'components/model-manager.html' %}
        </div>
    </div>
</body>
</html>